body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 300px;
  background-color: #e8dbf4;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
}

h2 {
  margin-bottom: 20px;
  color: #3a2a57;
}

.box {
  background-color: white;
  margin: 15px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.title {
  font-weight: bold;
  margin-bottom: 10px;
}

.label {
  margin-top: 10px;
  font-weight: bold;
}

h3 {
  margin: 5px 0;
  font-size: 24px;
}
