body {
  display: flex;
  margin: 0;
  font-family: Arial;
}

#sidebar {
  width: 250px;
  padding: 20px;
  background: #f4f4f4;
  border-right: 1px solid #ccc;
  height: 100vh;
}

#sidebar input {
  width: 90%;
  padding: 10px;
  margin-top: 10px;
}

#sidebar button {
  margin-top: 15px;
  padding: 10px;
  width: 95%;
}

#main {
  flex: 1;
  padding: 20px;
}

#bookContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.book-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 15px;
  text-align: center;
}

.book-card img {
  width: 120px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 10px;
}

button {
  padding: 6px 10px;
  margin: 5px;
  cursor: pointer;
}
